@model IEnumerable<Restaurant.BaseDB.Checks>
@{
    ViewBag.Title = "Tabel_Check";
    Layout = "~/Views/_Admin.cshtml";
}

<h2 class="ad_h2">Таблица чеков</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-2">
            @Ajax.ActionLink("За год","Year",null,new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "table",
                InsertionMode = InsertionMode.Replace
            },new{@class="ajax_check"})
        </div>
        <div class=" col-sm-4 col-md-2">
            @Ajax.ActionLink("За месяц", "Month", null,new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "table",
                InsertionMode = InsertionMode.Replace
            },new{@class="ajax_check"})
        </div>
        <div class="col-sm-4 col-md-2">
            @Ajax.ActionLink("За день", "Day", null,new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "table",
                InsertionMode = InsertionMode.Replace
            },new{@class="ajax_check"})
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div id="table">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_of_check)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model=>model.Time)
                            
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prase)
                        </th>
                        <th>
                            
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>@item.Date_of_check.ToString("d")</span>
                            </td>
                            <td>
                                @Html.DisplayFor(model=>item.Time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prase) грн.
                            </td>
                            <td>
                                @Ajax.ActionLink("Подробнее", "More", new {@id = item.Id}, new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "more",
                                    InsertionMode = InsertionMode.Replace
                                }, new {@class = "a_Ajax"})
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div id="more" class="col-md-6 col-lg-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="div_a">
                @Html.ActionLink("Выйти в меню", "Index", null, new {@class = "a_menu"})
            </div>
        </div>
        
    </div>
</div>

