@using Restaurant.Models
@model IEnumerable<Restaurant.Models.Model_Table_Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Admin.cshtml";
}

<h2 class="ad_h2">Таблица меню</h2>
<div class="container">
    <div class="row">
    @using (Ajax.BeginForm("Sorted", "Menu", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "table_menu",
        InsertionMode = InsertionMode.Replace
    }, new { @class = "form_position" }))
    {
        <div class=" col-sm-6 col-md-6">

            <div id="form_menu">
                @Html.DropDownList("PositionId", (IEnumerable<SelectListItem>) ViewBag.items, new {@class = "form-control drob_list"})

            </div>
            
            <div class="col-sm-4 col-md-4 div_add">
                @Html.ActionLink("Добавить блюдо", "AddFood", null, new {@class = "a_cabinet"})
            </div>
            <div class="col-sm-4 col-md-4 div_add">
                @Html.ActionLink("Категории", "Index", "Position", null, new {@class = "a_cabinet"})
            </div>
            
        </div>
        <div class="col-sm-4 col-md-4 div_button">
            <input class="a_cabinet sort" type="submit" Value="Сортировать"/>
        </div>
    }
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div id="table_menu">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prise)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prise)
                            </td>
                            <td>
                                @Html.ActionLink("Изменить", "EditFood", new { id = item.Id }, new { @class = "a_Ajax" })
                            </td>
                            <td>
                                @Ajax.ActionLink("Удалить", "Delete", new { id = item.Id },new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "table_menu",
                                    InsertionMode = InsertionMode.Replace
                                }, new { @class = "a_Ajax" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="div_a">
                @Html.ActionLink("Выйти в меню", "Index","Cabinet", null, new { @class = "a_menu" })
            </div>
        </div>
    </div>
</div>


